.rContainer {
    display: flex;
    background-color: #f7f7f7;
    
    padding: 20px;
}

.mainRate {    
    height: 150px;
    width: 250px;
    padding: 15px;
    background-color: #ffffff;
    margin: auto 20px;
    box-shadow: 10px 10px 24px -14px #474747;  
}

.insideRate {
    margin: auto;
}
#stars {
    color: #ffdd46;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#rName {    
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
}

#review {
    font-size: 1rem;
    color: #555555;
    text-align: left;
}